@import "../../../../utils";

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
}

th {
  text-align: left;
  padding: 1rem 0.5rem;
  width: calc(100% / 4);
}

tr, li {
  border-bottom: 1px solid themeProperty(clr-text-reversed);
  border-top: 1px solid themeProperty(clr-text-reversed);
}

th:first-child {
  min-width: 100px;
  width: 1%;
  white-space: nowrap;
}

input {
  box-sizing: border-box;
  min-width: 50%;
  max-width: 80%;
  height: 0.7rem;

  font-size: 1.05rem;
  font-family: "Riffic Free Medium", sans-serif;
  letter-spacing: 0.05rem;

  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 0;
  background-position: 100% center;
}

li div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;

  input {
    max-width: 30%;
  }

}
