@import "../../../../utils";

:host {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  object-fit: cover;
}

hero-parallax-container {
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;

    @include mobile-first-parent((
      $media-xs: (
        flex-direction: row,
        gap: 0.5rem
      )
    ));
  }
}

.image {
  height: 10rem;
  width: 10rem;

  @include mobile-first-parent((
    $media-md: (
      height: 12rem,
      width: 12rem
    )
  ));

  display: flex;
  //background-color: #ef1591;
  img {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0.25rem 0.25rem 0px var(--clr-lowOpacity));
    transition: filter 0.5s ease-in-out;
  }
}

.headings {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #670000;

  @include mobile-first-parent((
    $media-xs: (
      align-items: flex-start,
    )
  ));

  h1 {
    letter-spacing: 0.15rem;
    font-size: $size-5xl;
    padding-left: 0;

    filter: drop-shadow(0rem 0rem 30px rgba(255, 145, 5, 0.7));

    @include mobile-first-parent((
      $media-md: (
        letter-spacing: 0.25rem,
        font-size: $size-7xl,
        padding-left: 0.1rem
      )
    ));
  }
  h2 {
    position: relative;

    letter-spacing: 0.1rem;
    font-size: $size-3xl;
    left: 0.2rem;

    @include mobile-first-parent((
      $media-md: (
        letter-spacing: 0.2rem,
        left: 0.3rem,
        font-size: $size-4xl
      )
    ));
  }
  h2:nth-of-type(1) {
    top: 0.7rem;
  }
  h2:nth-of-type(2) {
    top: -0.7rem;
  }
}
