@import "../../../../utils";

:host {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

hero-parallax-container {
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;

    @include mobile-first-parent((
      $media-sm: (
        flex-direction: row,
        gap: 0.5rem
      )
    ));

  }
}

@keyframes wobble {
  0% {
    top: -1rem;
  }
  100% {
   top: 1rem;
  }
}

.image {
  height: 10rem;
  width: 10rem;

  @include mobile-first-parent((
    $media-md: (
      height: 12rem,
      width: 12rem
    )
  ));

  display: flex;
  //background-color: #ef1591;
  img {
    position: relative;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0.25rem 0.25rem 0px var(--clr-lowOpacity)) drop-shadow(0 0 2rem var(--btn-background500));
    transition: filter 0.5s ease-in-out;

    &.glow {
      filter: drop-shadow(0.25rem 0.25rem 0px var(--clr-lowOpacity)) drop-shadow(0 0 2rem var(--btn-background500)) drop-shadow(0 0 0.3rem rgba(253, 203, 32, 0.2));
    }
  }
}

.wobble {
  animation: wobble 3s ease-in-out infinite alternate;
  transition: top 0.1s ease-in-out;
}

.headings {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #670000;

  filter: drop-shadow(0.25rem 0.25rem 0px var(--clr-lowOpacity)) drop-shadow(0 0 3rem var(--btn-background500));

  @include mobile-first-parent((
    $media-sm: (
      align-items: flex-start,
    )
  ));

}
