<div class="stars">
  <img [src]="'assets/img/web/hero/stars.png'" alt="stars"/>
</div>
<div class="container not-found">
  <div class="header">
    <img [src]="'assets/img/traffic_barge.png'" alt="Traffic Barge" />
    <h1 class="textGradient">404</h1>
    <img [src]="'assets/img/traffic_barge.png'" alt="Traffic Barge" />
  </div>

  <h2 translation="pcxn.subsite.notFound.title"></h2>
  <p translation="pcxn.subsite.notFound.description"></p>


  <br>

  <button> Zurück zu Startseite </button>
</div>
