<div class="stars">
  <img [src]="'assets/img/web/hero/stars.png'" alt="stars"/>
</div>
<div class="container not-found">
  <div class="header">
    <img [src]="'assets/img/traffic_barge.png'" alt="Traffic Barge" />
    <h1 class="textGradient">404</h1>
    <img [src]="'assets/img/traffic_barge.png'" alt="Traffic Barge" />
  </div>

  <h2>Seite nicht gefunden</h2>
  <p>Es tut uns leid, aber die von Ihnen gesuchte Seite existiert nicht oder wurde verschoben.</p>
  <p>Überprüfen Sie die URL auf Tippfehler oder gehen Sie zurück zur Startseite.</p>


  <br>

  <button> Zurück zu Startseite </button>
</div>
