@import '../../variables';

header {
  overflow-y: hidden;
  position: fixed;

  top: 0;
  display: flex;
  align-items: center;

  height: 5rem;
  width: 100%;

  box-shadow: none;

  @include themeProperty(background-color, white, black);

  p {
    margin: 0;
    padding: 0;
    @include themeProperty(color, black, white);
  }

}
