<app-window-menu [heading]="Optional.of('pcxn.submenu.categories.login')" #loginWindow>
  <div class="window__login">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <p *ngIf="this.loginError" class="login-err_text">{{this.translationService.getTranslation('pcxn.window.login.failed-login')}}</p>
      <div class="input__box">
        <input
          #userNameInput
          class="roundEdge"
          id="username"
          type="text"
          [placeholder]="this.translationService.getTranslation('pcxn.window.login.username')"
          required
          formControlName="username"
          autocomplete="off">
        <i class="fa fa-user"></i>
      </div>

      <div class="input__box">
        <input
          class="roundEdge"
          id="password"
          type="password"
          [placeholder]="this.translationService.getTranslation('pcxn.window.login.password')"
          required
          formControlName="password"
          autocomplete="off">
        <i class="fa fa-lock"></i>
      </div>

      <div class="remember__box">
        <label>
          <input
            #loginRememberMe
            type="checkbox"
            formControlName="rememberMe">
          {{this.translationService.getTranslation('pcxn.window.login.remember-me')}}
        </label>
        <a href="#" translation="pcxn.window.login.forgot-password"></a>
      </div>

      <button type="submit" class="pcxn_btn roundEdge secondary login__btn"
              translation="pcxn.submenu.categories.login"></button>

      <div class="register__box">
        <p>{{translationService.getTranslation('pcxn.window.login.no-account')}}
          <a href="#" translation="pcxn.window.login.register-now"></a></p>
      </div>
    </form>
  </div>
</app-window-menu>
<app-window-menu [heading]="Optional.of('pcxn.submenu.categories.title')" #categoryWindow>
  <div class="categoryMenuContainer">
    <button *ngFor="let category of this.headerService.Categories; index as i"
            class="pcxn_btn roundEdge"
            [class.active]="this.headerService.isCategoryActive(category)"
            [id]="'button-' + i"
            (click)="this.headerService.onCategoryClick(category); closeAllMenus();">
      {{this.modeService.getCategoryName(category)}}
    </button>
  </div>
</app-window-menu>
<header [ngClass]="{'menuOpen' : this.menuOpen}" #header>
  <div class="container content">
    <div class="item" style="display: flex; height: 100%; align-items: center">
      <a routerLink="/" href="/">
        <img [ngClass]="{'black': !theme.darkMode}" [src]="'assets/img/web/logo/pcxn_logo_black.png'" alt="logo"/>
      </a>
      <div *ngIf="this.headerService.hasBreadCrumb()"
           class="divider vertical deactivateOnSmall"
           style="height: 50%"></div>
      <a *ngIf="this.headerService.hasBreadCrumb()"
         [routerLink]="this.headerService.getBreadCrumbUrl()"
         href="{{this.headerService.getBreadCrumbUrl()}}">
        <h3 style="text-transform: uppercase"
            class="breadcrumb-item deactivateOnSmall"> {{this.headerService.getBreadCrumbText()}} </h3>
      </a>
    </div>
    <div class="item middleItem">
      <div style="width: 90%; height: max-content; position: relative; max-width: 30rem;">
        <input #searchInputEle [(ngModel)]="searchInput"
               (ngModelChange)="this.headerService.onSearchInput($event)"
               (click)="this.onSearchClick()" *ngIf="this.headerService.showSearch"
               class="search__input" type="text"
               (dragstart)="preventDrag($event)"
               (keydown)="this.onSearchClick()"
               draggable="false"
               [placeholder]="this.translationService.getTranslation('pcxn.menu.searchbar.placeholder')">
        <button class="search__close"
                *ngIf="this.headerService.showSearch && checkFocus()"
                (click)="this.unfocus()">
          x
        </button>
      </div>
    </div>
    <div class="item" style="display: flex; height: 100%; align-items: center">
      <img [ngClass]="{'black': !theme.darkMode}"
           *ngIf="this.headerService.categoryActivated"
           (click)="this.closeMenu(); this.openCategoryWindow()"
           class="button menuButton category deactivateOnSmall"
           draggable="false"
           src="/assets/img/icons/kategorie.png"
           alt="categories">
      <div *ngIf="this.headerService.categoryActivated" class="divider vertical deactivateOnSmall"
           style="height: 50%"></div>
      <div [ngClass]="{'black': !theme.darkMode}" (click)="this.toggleMenu()" class="menuButton" #lottiemenu></div>
    </div>
  </div>
  <div class="menu" [ngClass]="{'open' : this.menuOpen}">
    <div class="container divider"></div>
    <div class="container content menu-content">
      <div>
        <h3 translation="pcxn.menu.heading.about"></h3>

        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.HOME)}"
           translation="pcxn.subsite.home.sectionTitle"
           (click)="this.redirectService.redirectToHome(); this.closeMenu()"></p>
        <br>
        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.MOD)}"
           translation="pcxn.subsite.mod.sectionTitle"></p>

        <div class="space-holder"></div>

        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.IMPRINT)}"
           translation="pcxn.subsite.imprint.sectionTitle"
           (click)="this.redirectService.redirect('/imprint'); this.closeMenu()"></p>

      </div>

      <div class="divider vertical"></div>

      <div>
        <h3 translation="pcxn.menu.heading.gamemodes"></h3>

        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.SKYBLOCK)}"
           translation="pcxn.subsite.skyblock.sectionTitle"
           (click)="this.redirectService.redirectToMode(Modes.SKYBLOCK); this.closeMenu()"></p>
        <br>
        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.CITYBUILD)}"
           translation="pcxn.subsite.citybuild.sectionTitle"
           (click)="this.redirectService.redirectToMode(Modes.CITYBUILD); this.closeMenu()"></p>

        <div class="space-holder"></div>

        <p *ngIf="this.headerService.categoryActivated"
           (click)="this.openCategoryWindow(); this.closeMenu()"
           translation="pcxn.submenu.categories.title"
           class="button">
        </p>

      </div>

      <div class="divider vertical"></div>

      <div>
        <h3 translation="pcxn.menu.heading.community"></h3>

        <p class="button"
           translation="pcxn.menu.item.forumlink"
           (click)="this.redirectService.redirectToCxnContribution();"></p> <br>

        <p class="button"
           *ngIf="!this.auth.isLoggedIn()"
           (click)="this.openLoginWindow(); this.closeMenu()"
           translation="pcxn.submenu.categories.login"></p> <br>

        <p *ngIf="this.auth.isLoggedIn()"
           class="button"
           (click)="this.logout()"
           translation="pcxn.submenu.categories.logout"></p>


      </div>

      <div class="divider vertical"></div>

      <div>
        <h3 translation="pcxn.menu.heading.settings"></h3>

        <div>
          <p translation="pcxn.menu.item.heading.change_lang"></p>
          <button class="pcxn_btn settingButton  noShine"
                  [ngClass]="this.translationService.getCurrentLanguage() === Languages.German ? 'active' : ''"
                  (click)="translationService.setLanguage(Languages.German)"> Deutsch
          </button>
          <button class="pcxn_btn settingButton noShine"
                  [ngClass]="this.translationService.getCurrentLanguage() === Languages.English ? 'active' : ''"
                  (click)="translationService.setLanguage(Languages.English)"> Englisch
          </button>
          <button class="pcxn_btn settingButton  noShine"
                  [ngClass]="this.translationService.getCurrentLanguage() === Languages.MemeCxn ? 'active' : ''"
                  (click)="translationService.setLanguage(Languages.MemeCxn)"> Memetooxien
          </button>
        </div>

        <div>
          <p translation="pcxn.menu.item.heading.change_theme"></p>
          <button class="pcxn_btn settingButton noShine"
                  [ngClass]="this.theme.is(Themes.Light) ? 'active' : ''"
                  (click)="theme.setMode(Themes.Light)"> light
          </button>
          <button class="pcxn_btn settingButton noShine"
                  [ngClass]="this.theme.is(Themes.Dark) ? 'active' : ''"
                  (click)="theme.setMode(Themes.Dark)"> dark
          </button>
          <button class="pcxn_btn settingButton noShine"
                  [ngClass]="this.theme.is(Themes.Auto) ? 'active' : ''"
                  (click)="theme.setMode(Themes.Auto)"> auto
          </button>
        </div>

      </div>

    </div>
    <div class="container menu-footer">
      <p translation="pcxn.copyright"></p>
    </div>
  </div>
</header>
