<app-window-menu>
  <h3>ztrewzterwzut</h3>
</app-window-menu>
<header [ngClass]="{'menuOpen' : this.menuOpen}" #header>
  <div class="container content">
    <div class="item" (click)="this.redirectService.redirectToHome()">
      <img [ngClass]="{'black': !theme.darkMode}" [src]="'assets/img/web/logo/pcxn_logo_black.png'" alt="logo"/>
    </div>
    <div class="item middleItem">
      <input [(ngModel)]="searchInput"
             (ngModelChange)="this.headerService.onSearchInput($event)"
             (click)="this.closeMenu()" *ngIf="this.headerService.showSearch"
             class="search__input" type="text"
             [placeholder]="this.translationService.getTranslation('pcxn.menu.searchbar.placeholder')">
    </div>
    <div class="item" style="display: flex; height: 100%; align-items: center">
      <img [ngClass]="{'black': !theme.darkMode}"
           *ngIf="this.headerService.categoryActivated"
           (click)="this.closeMenu()"
           class="button menuButton category"
           src="/assets/img/icons/kategorie.png"
           alt="categories">
      <div *ngIf="this.headerService.categoryActivated" class="divider vertical" style="height: 50%"></div>
      <div [ngClass]="{'black': !theme.darkMode}" (click)="this.toggleMenu()" class="menuButton" #lottiemenu></div>
    </div>
  </div>
  <div class="menu" [ngClass]="{'open' : this.menuOpen}">
    <div class="container divider"></div>
    <div class="container content menu-content">
      <div>
        <h3 translation="pcxn.menu.heading.about"></h3>

        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.HOME)}"
           translation="pcxn.subsite.home.sectionTitle"
           (click)="this.redirectService.redirectToHome(); this.closeMenu()" ></p>
        <br>
        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.MOD)}"
           translation="pcxn.subsite.mod.sectionTitle"></p>

        <div class="space-holder"></div>

        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.IMPRINT)}"
           translation="pcxn.subsite.imprint.sectionTitle"></p>

      </div>

      <div class="divider vertical"></div>

      <div>
        <h3 translation="pcxn.menu.heading.gamemodes"></h3>

        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.SKYBLOCK)}"
           translation="pcxn.subsite.skyblock.sectionTitle"
           (click)="this.redirectService.redirectToMode(Modes.SKYBLOCK); this.closeMenu()"></p>
        <br>
        <p class="button"
           [ngClass]="{'active' : this.activeMenuIs(MenuActives.CITYBUILD)}"
           translation="pcxn.subsite.citybuild.sectionTitle"
           (click)="this.redirectService.redirectToMode(Modes.CITYBUILD); this.closeMenu()"></p>

        <div class="space-holder"></div>

        <p *ngIf="this.headerService.categoryActivated"
           class="button">
          {{this.translationService.getTranslation('pcxn.submenu.categories.title')}}
        </p>

      </div>

      <div class="divider vertical"></div>

      <div>
        <h3 translation="pcxn.menu.heading.community"></h3>

        <p class="button" translation="pcxn.menu.item.forumlink"></p> <br>

        <p class="button" translation="pcxn.menu.item.login"></p>

      </div>

      <div class="divider vertical"></div>

      <div>
        <h3 translation="pcxn.menu.heading.settings"></h3>

        <div>
          <p translation="pcxn.menu.item.heading.change_lang"></p>
          <button class="button"
                  (click)="translationService.setLanguage(Languages.German)"> Deutsch </button>
          <button class="button"
                  (click)="translationService.setLanguage(Languages.English)"> Englisch </button>
          <button class="button"
                  (click)="translationService.setLanguage(Languages.MemeCxn)"> Memetooxien </button>
        </div>

        <div>
          <p translation="pcxn.menu.item.heading.change_theme"></p>
          <button class="button"
                  (click)="theme.setMode(Themes.Light)"> light </button>
          <button class="button"
                  (click)="theme.setMode(Themes.Dark)"> dark </button>
        </div>

      </div>

    </div>
    <div class="container menu-footer">
      <p translation="pcxn.copyright"></p>
    </div>
  </div>
</header>
