<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <h3 class="form-label mb-0">Item: {{getItemName()}}</h3>

        <div class="d-flex align-items-center mb-2">
          <span class="badge me-1" [ngClass]="{'bg-success' : isSetup(), 'bg-danger' : !isSetup()}"
                tooltip="{{getSetupRequirements()}}" placement="bottom" container="body">
            <i class="fa"
               [ngClass]="{'fa-check-circle' : isSetup(), 'fa-times-circle' : !isSetup()}"></i> {{isSetup() ? 'Eingerichtet' : 'Nicht Eingerichtet'}}
          </span>
          <span class="badge bg-danger text-white me-1" *ngIf="isBlocked()">
            <i class="fa fa-ban"></i> Blockiert
          </span>
          <span class="badge bg-success text-white me-1" *ngIf="isConnected()"
                tooltip="Verbunden mit: {{this.getConnectionName()}}" placement="bottom"
                (click)="redirectToConnection()">
            <i class="fa fa-link"></i> Verbunden
          </span>
        </div>
      </div>
      <div>
        <label for="categorySelect" class="form-label d-block"><h5 class="text-decoration-underline">Kategorie
          Auswahl: </h5></label>
        <ngx-bootstrap-multiselect id="categorySelect" [settings]="mySettings" [options]="myOptions"
                                   [(ngModel)]="optionsModel"
                                   (ngModelChange)="onCatChange()"></ngx-bootstrap-multiselect>
      </div>
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <tabset>
          <tab heading="Collected Infos">
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="form-label mb-0" *ngIf="hasSearchKey()"><h5 class="text-decoration-underline mb-0">
                  Calculated Mod Key: </h5></label>
                <p *ngIf="hasSearchKey()">{{this.itemData?.pcxnSearchKey}}</p>
                <label class="form-label mb-0" *ngIf="hasPbvSearchKey()"><h5 class="text-decoration-underline mb-0">
                  Public Bukkit Value Search: </h5></label>
                <p *ngIf="hasPbvSearchKey()">{{this.itemData?.pbvSearchKey}}</p>
                <label class="form-label mb-0" *ngIf="hasModes()"><h5 class="text-decoration-underline mb-0">
                  Found Modes: </h5></label>
                <p *ngIf="getFoundModes().isPresent()">{{this.getFoundModes().orElse('')}}</p>
              </div>
              <div class="col-md-6">
                <label class="form-label mb-0"><h5 class="text-decoration-underline mb-0" *ngIf="hasRoute()">
                  Calculated Web Route: </h5></label>
                <p *ngIf="hasRoute()">{{this.itemData?.itemUrl}}</p>
                <label class="form-label mb-0"><h5 class="text-decoration-underline mb-0" *ngIf="hasModes()">
                  Calculated Prices: </h5></label>
                <p *ngIf="hasModes()">{{getModePrices()}}</p>
              </div>
            </div>
          </tab>
          <tab heading="Bilder">
            <div class="row mt-3">
              <div class="col-md-6" style="min-height: 150px;">
                <div class="form-group">
                  <label class="form-label"><h5 class="text-decoration-underline">Item Image URL: </h5></label>
                  <input type="text" formControlName="imageUrl" class="form-control">
                </div>
                <div class="form-group mt-4">
                  <img [src]="ItemComponent.getImgUrl(itemForm.get('imageUrl').value)" alt="Vorschau"
                       class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-6" style="min-height: 150px;">
                <div class="form-group">
                  <label class="form-label d-block"><h5 class="text-decoration-underline">Item Animationen: </h5>
                  </label>
                  <app-animation-editor #animEditor
                                        [data]="this.animData"
                                        [imgUrl]="ItemComponent.getImgUrl(itemForm.get('imageUrl').value)"
                                        (animationChange)="this.onAnimUpdate($event)"></app-animation-editor>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Übersetzungen">
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label mb-0"><h5 class="text-decoration-underline mb-0">Item Name
                    Translations: </h5></label>
                  <app-translation-editor
                    [data]="itemForm.get('translations')?.value"
                    (translationChange)="addTranslation('translations', $event)"></app-translation-editor>
                </div>
                <div class="form-group mt-3">
                  <label class="form-label mb-0"><h5 class="text-decoration-underline mb-0">Description
                    Translations: </h5></label>
                  <app-translation-editor
                    [data]="itemForm.get('description')?.value"
                    [multiline]="true"
                    (translationChange)="addTranslation('description', $event)"></app-translation-editor>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Seller/Buyer">
            <div class="row mt-3">
              <app-sell-buy-editor
                [itemId]="this.itemData?.pcxnId"
                [data]="getSellBuyData()"
                id="buy-sell"></app-sell-buy-editor>
            </div>
          </tab>
          <tab heading="Preis Retention">
            <div class="form-group">
              <app-price-retention
                [data]="this.itemData"
                (retentionChange)="onRetentionUpdate($event)"></app-price-retention>
            </div>
          </tab>
          <tab heading="Reports">
            <div class="row mt-3">
              <div class="col-md-12">
                <div *ngIf="itemReports.length > 0; else noReports">
                  <div *ngFor="let report of itemReports; let i = index" class="mb-3">
                    <div class="card">
                      <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5 class="mb-0">Report {{ i + 1 }}</h5>
                          <button type="button" class="btn btn-danger" (click)="deleteReport(report.id)">
                            <i class="fa fa-times-circle"></i> Delete Report
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <strong>Name: </strong> {{this.getItemName()}}
                          </div>
                          <div class="col-md-6">
                            <strong>Mode: </strong> {{report.modeKey}}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <strong>minChange: </strong> {{report.minPrice}}
                          </div>
                          <div class="col-md-6">
                            <strong>maxChange: </strong> {{report.maxPrice}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <strong>Item URL: </strong> <a href="/mode/{{report.modeKey}}/item{{report.itemRoute}}"
                                                           target="_blank">/mode/{{report.modeKey}}
                            /item{{report.itemRoute}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
        <div class="d-flex justify-content-sm-start mt-3">
          <button type="submit" [ngClass]="{'btn-danger': this.isDirty(), 'btn-success': !this.isDirty()}"
                  class="btn">
            <i class="fa fa-check-circle"></i> Submit
          </button>
          <button type="button" class="btn btn-warning ms-2">
            <i class="fa fa-link"></i> {{this.isConnected() ? 'Disconnect' : 'Connect'}} Item
          </button>
          <button type="button" class="btn btn-danger ms-2" (click)="blockItem()">
            <i class="fa fa-trash"></i> {{this.isBlocked() ? 'Unblock' : 'Block'}} Item
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #noReports>
  <div class="alert alert-info">
    No Item Reports available.
    <button type="button" class="btn btn-info" (click)="refreshReports()">
      <i class="fa fa-sync-alt"></i> Refresh
    </button>
  </div>
</ng-template>
