<div *ngIf="isBrowser">
  <table *ngIf="!isSmallScreen()">
    <thead>
    <table-item-header></table-item-header>
    </thead>

    <tbody>
    <table-item-row *ngFor="let item of items; let i = index" [itemCount]="i" [item]="item"></table-item-row>
    </tbody>
  </table>

  <ul class="table" *ngIf="isSmallScreen()">
    <div class="header">
      <table-item-header></table-item-header>
    </div>
    <table-item-row *ngFor="let item of items; let i = index" [itemCount]="i" [item]="item"></table-item-row>
  </ul>

</div>
