@import "../../../../utils";

table, .table {
  position: relative;
  font-family: "Riffic Free Medium", sans-serif;
  border-collapse: collapse;
  width: 100%;
  top: 5rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

thead, .header {
  color: themeProperty(clr-text);
  position: sticky;
  top: 5rem;
  font-size: 1.25rem;
  background: themeProperty(clr-lowOpacity);
  backdrop-filter: blur(0.15rem);
}

tbody{
  font-size: 1.05rem;
  color: themeProperty(clr-text);
}

ul {
  list-style-type: none;
}
