<div *ngIf="isBrowser" #row>
  <table *ngIf="!isSmallScreen()">
    <thead>
    <table-item-header></table-item-header>
    </thead>

    <tbody>
    <ng-container *ngFor="let item of filteredItems; let i = index">
      <table-item-row [itemCount]="i" id="{{item.pcxnId}}" [item]="item"></table-item-row>
    </ng-container>
    </tbody>
  </table>

  <ul class="table" *ngIf="isSmallScreen()">
    <div class="header">
      <table-item-header></table-item-header>
    </div>
    <table-item-row *ngFor="let item of filteredItems; let i = index" [itemCount]="i"
                    [item]="item"></table-item-row>
  </ul>
</div>
