<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <h3>Item Data</h3>
      <input
        type="text"
        [(ngModel)]="searchText"
        placeholder="Search items..."
        class="form-control mb-3"
        (input)="onSearchChange()">
      <div *ngIf="(getItems().orElse([]) | itemSearch:searchText).length; else noData">
        <div *ngFor="let itemData of getItems().orElse([]) | itemSearch:searchText; let i = index" class="mb-3">
          <div class="d-flex align-items-center mb-2">
            <button class="btn btn-warning" disabled>
              {{ itemData.blocked ? 'BLOCKED' : (itemData.connection ? 'CONNECTION' : (itemData.setup ? 'SETUP' : 'MISS SETUP')) }}
            </button>
            <div class="p-2 flex-grow-1">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <strong>Item ID: </strong> {{itemData.pcxnId}} <br>
                  <strong>Item Name: </strong> {{this.admin.findItemName(itemData)}} <br>
                  <span *ngIf="this.admin.hasFoundModes(itemData)">
                  <strong>Modes: </strong> {{this.admin.getFoundModes(itemData).orElse('')}} <br>
                  </span>
                  <span *ngIf="!this.admin.hasFoundModes(itemData)">
                  <strong>Counts p. Mode: </strong> {{this.getCountModes(itemData)}} <br>
                  </span>
                </div>
                <div class="col-md-3">
                  <strong>Setup: </strong> {{itemData.setup}} <br>
                  <strong>Blocked: </strong> {{itemData.blocked}} <br>
                  <strong>Connection: </strong> {{itemData.connection || false}}
                </div>
                <div class="col-md-4">
                  <strong>PCXN Search Key: </strong> {{itemData.pcxnSearchKey}} <br>
                  <strong>PBV Search Key: </strong> {{itemData.pbvSearchKey}}
                </div>
              </div>
            </div>
            <button *ngIf="connections" type="button" class="btn btn-danger ms-2"
                    (click)="this.admin.editConnection(itemData.pcxnId, null)">
              <i class="fa fa-trash"></i> Delete Connection
            </button>
            <button *ngIf="blocked" type="button" class="btn btn-danger ms-2" (click)="blockItem(itemData)">
              <i class="fa fa-check-circle"></i> Unblock Item
            </button>
            <button *ngIf="!blocked && !connections" type="button" class="btn btn-danger ms-2"
                    (click)="blockItem(itemData)">
              <i class="fa fa-trash"></i> Block Item
            </button>
            <button type="button" class="btn btn-success ms-2" [routerLink]="['/admin/item/id/', itemData.pcxnId]">
              <i class="fa fa-arrow-circle-right"></i> Go to Item
            </button>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="alert alert-info">
    No Item Data available.
    <button type="button" class="btn btn-info" (click)="refresh()">
      <i class="fa fa-sync-alt"></i> Refresh
    </button>
  </div>
</ng-template>
