<tr
        #rowElement
  *ngIf="!isSmallScreen()"
  class="clickable-row"
  [ngClass]="this.itemCount % 2 === 0 ? 'light' : 'dark'"
  (click)="onItemClicked()">
  <td>
    <img [src]="this.getImgUrl()" class="table__icon" [alt]="this.getNameCache()">
  </td>
  <td>
    <div class="table-container">
      <h4>{{this.getNameCache()}}</h4>
    </div>
  </td>
  <td>
    <div class="table-container prices">
      {{this.get1xPrice()}}
      <img *ngIf="this.visible" style="display: inline-block; height: 0.8rem" src="assets/img/coin.png" alt="">
    </div>
  </td>
  <td>
    <div class="table-container prices">
      {{this.getCategoryMultipliedPrice()}}
      <img *ngIf="this.visible" style="display: inline-block; height: 0.8rem" src="assets/img/coin.png" alt="">
    </div>
  </td>
  <td>
    <div class="table-container prices" >
      <span #custom></span>
      <img *ngIf="this.visible" style="display: inline-block; height: 0.8rem" src="assets/img/coin.png" alt="">
    </div>
  </td>
</tr>
<tr
  *ngIf="!isSmallScreen()"
  class="description-row">
  <td *ngIf="this.visible" colspan="5">
    <div class="description" #itemDesc>
      <div class="description__field">

        <div class="description__item">
          <section-custom-anim *ngIf="this.getImgUrl()"
                               [useData]="this.item"
                               #animComponent
          ></section-custom-anim>
        </div>

        <div class="description__item">
          <section-seller-table
            [itemUrl]="this.item?.itemUrl || null"
            [center]="false"
            [sellingUser]="this.item?.sellingUser || []"
            [buyingUser]="this.item?.buyingUser || []"/>
        </div>

        <div class="description__item qmark-section" >

        <button class="pcxn_btn roundEdge secondary"
                (click)="this.redirect.redirectToItem(this.item)">
         <div class="question-mark-btn">
           <div class="inner">
             ?
           </div>
         </div>
        </button>

          <button class="pcxn_btn"
                  (click)="this.redirect.redirectToItem(this.item)">
            {{this.translation.getTranslation('pcxn.section.table.desc-small.more-info')}}
          </button>

        </div>
      </div>
    </div>
  </td>
</tr>


<li
  #rowElement
  *ngIf="isSmallScreen()"
  (click)="onItemClicked()">
  <div
    class="clickable-row small"
    [ngClass]="this.itemCount % 2 === 0 ? 'light' : 'dark'">
    <div style="display: flex; align-items: center; gap: 0.5rem">
      <img
        [src]="this.getImgUrl()"
        class="table__icon"
        alt="stone">
      <h2>{{this.getNameCache()}}</h2>
    </div>
    <div>
      <h3 #custom></h3>
    </div>
  </div>
  <div class="description" #itemDesc>
    <div *ngIf="this.visible" style="width: 100%">
      <section-seller-table
        style="margin: 0.5rem 0"
        [itemUrl]="this.item?.itemUrl || null"
        [center]="false"
        [showAddButton]="false"
        [sellingUser]="this.item?.sellingUser || []"
        [buyingUser]="this.item?.buyingUser || []"/>
        <button class="pcxn_btn roundEdge secondary"
                style="margin: 1.5rem 0; padding: 0.2rem 0.5rem; position: relative; left: 50%; translate: -50% 0"
                (click)="this.redirect.redirectToItem(this.item)">
          {{this.translation.getTranslation('pcxn.section.table.desc-small.more-info')}}
        </button>
    </div>
  </div>
</li>
