<tr class="clickable-row">
  <td><img src="" class="table__icon" alt="stone"></td>
  <td>Glatter Stein</td>
  <td>4,00 - 4,50 Taler</td>
  <td>256,00 - 288,00 Taler</td>
  <td>4,00 - 4,50 Taler</td>
</tr>
<tr class="description-row">
  <td colspan="5">
    <div class="description">
      <div class="description__column">
        <div class="description__howTo mirror">
          <img src="" alt="stone">
        </div>
      </div>
      <div class="description__column">
        <section-seller-table></section-seller-table>
      </div>
      <div class="description__column">
        <button class="btn btn-secondary jmp-btn description__btn">
          <img class="arrow" src="">
        </button>
      </div>
    </div>
  </td>
</tr>
