<tr
  *ngIf="!isSmallScreen()"
  class="clickable-row"
  [ngClass]="this.itemCount % 2 === 0 ? 'light' : 'dark'"
  (click)="onItemClicked()">
  <td>
    <img [src]="this.item?.imageUrl" class="table__icon" alt="stone">
  </td>
  <td>
    <div class="table-container">
      <h4>{{this.getName()}}</h4>
    </div>
  </td>
  <td>
    <div class="table-container">
   {{NumberFormatPipe.format(this.getMinPrice(), this.getMaxPrice(), true)}}
    </div>
  </td>
  <td>
    <div class="table-container">
      {{NumberFormatPipe.format(this.getMinPrice(64), this.getMaxPrice(64), true)}}
    </div>
  </td>
  <td>
    <div class="table-container" #custom>

    </div>
  </td>
</tr>
<tr
  *ngIf="!isSmallScreen()"
  class="description-row">
  <td colspan="5">
    <div class="description" #itemDesc>
      <div style="display: flex; justify-content: space-evenly; width: 100%">

        <section-custom-anim *ngIf="this.item?.imageUrl"
          [useData]="this.item"
          #animComponent
        ></section-custom-anim>

        <section-seller-table>

        </section-seller-table>

        <div>

        </div>

      </div>
    </div>
  </td>
</tr>


<li
  *ngIf="isSmallScreen()"
  (click)="onItemClicked()">
  <div
    class="clickable-row small"
    [ngClass]="this.itemCount % 2 === 0 ? 'light' : 'dark'">
    <div style="display: flex; align-items: center; gap: 0.5rem">
      <img
        [src]="this.item?.imageUrl"
        class="table__icon"
        alt="stone">
      <h2>{{this.getName()}}</h2>
    </div>
    <div>
      <h3 #custom></h3>
    </div>
  </div>
  <div class="description" #itemDesc>
    <div style="height: 10rem; width: 100%">

    </div>
  </div>
</li>
