
<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="modName" class="form-label">Mod Name</label>
          <input type="text" id="modName" class="form-control" formControlName="modName">
        </div>

        <div class="mb-3" formArrayName="serverIps">
          <label class="form-label">Server IPs</label>
          <div *ngFor="let ip of serverIps.controls; let i = index" class="d-flex align-items-center mb-2">
            <input type="text" class="form-control" [formControlName]="i">
            <button type="button" class="btn btn-danger ms-2" (click)="removeServerIp(i)">
              <i class="bi bi-x-circle-fill"></i> Remove
            </button>
          </div>
          <button type="button" class="btn btn-primary" (click)="addServerIp()">
            <i class="bi bi-plus-circle-fill"></i> Add Server IP
          </button>
        </div>

        <div class="mb-3" formArrayName="languages">
          <label class="form-label">Languages</label>
          <div *ngFor="let lang of languages.controls; let i = index" class="d-flex align-items-center mb-2">
            <input type="text" class="form-control" [formControlName]="i">
            <button type="button" class="btn btn-danger ms-2" (click)="removeLanguage(i)">
              <i class="bi bi-x-circle-fill"></i> Remove
            </button>
          </div>
          <button type="button" class="btn btn-primary" (click)="addLanguage()">
            <i class="bi bi-plus-circle-fill"></i> Add Language
          </button>
        </div>

        <div class="mb-3">
          <label for="modName" class="form-label">Min Version</label>
          <input type="text" id="min-version" class="form-control" formControlName="modName">
        </div>

        <div class="btn-group-toggle mb-3" data-toggle="buttons">
          <label class="btn btn-outline-primary" [class.active]="settingsForm.get('maintenance')?.value">
            <input type="checkbox" id="maintenance" formControlName="maintenance" autocomplete="off" style="display: none">
            <i class="fa fa-wrench" *ngIf="!settingsForm.get('maintenance')?.value"></i>
            <i class="fa fa-check-circle" *ngIf="settingsForm.get('maintenance')?.value"></i>
            {{ settingsForm.get('maintenance')?.value ? 'Maintenance: ON' : 'Maintenance: OFF' }}
          </label>
        </div>

        <button type="submit" [ngClass]="{'btn-danger': isDirty(), 'btn-success': this.submitted}" class="btn btn-primary">
          <i class="fa fa-check-circle"></i> Submit
        </button>
      </form>
    </div>
  </div>
</div>
