<hero-image
  class="stars"
  [ngClass]="this.isLightMode() ? 'light' : ''"
  [show]="true"
  [parallax]="pictureParallax"
  [src]="'assets/img/web/hero/stars.png'"
  [alt]="'nöö'"/>

<div #moon class="moonContainer">
  <hero-image
    #sunPic
    *ngIf="this.isLightMode()"
    [show]="true"
    class="moon"
    [parallax]="moonParallax"
    [src]="'assets/img/web/hero/sun.png'"/>
  <hero-image
    #moonPic
    *ngIf="this.isDarkMode()"
    [show]="true"
    class="moon"
    [parallax]="moonParallax"
    [src]="'assets/img/web/hero/moon.png'"/>
</div>

<hero-image
  *ngIf="this.isLightMode()"
  class="clouds behind"
  [show]="true"
  [parallax]="cloudParallax"
  src="assets/img/web/hero/cloud2.png"
  alt="nöö"/>
<hero-image
  *ngIf="this.isLightMode()"
  class="clouds"
  [show]="true"
  [parallax]="cloudParallaxFront"
  src="assets/img/web/hero/cloud1.png"
  alt="nöö"/>
