<hero-container>

  <hero-default-bg></hero-default-bg>

  <hero-heading
    [wobble]="true"
    [parallax]="HeadingComponent.customParallax">
    <div style="display: flex; justify-content: center; flex-direction: column">
      <h2 translation="pcxn.subsite.mod.heading.minecraft" class="center"></h2>
      <h1 translation="pcxn.subsite.mod.heading.pcxn" class="textGradient"></h1>
      <h2 translation="pcxn.subsite.mod.heading.mod" class="center"></h2>
    </div>
  </hero-heading>

  <hero-random-firework/>

  <hero-parallax-container [parallax]="CategoryNavComponent.customParallax" class="category-nav">
    <div class="download-jump-container roundEdge">
      <button
        class="pcxn_btn roundEdge download-jump-btn"
        (click)="this.redirect.jumpToElement('download-section', true, 80)"
        translation="pcxn.subsite.mod.jump-btn"
      >
      </button>
    </div>
  </hero-parallax-container>

  <hero-jump-button [parallax]="JumpButtonComponent.customParallax"/>

</hero-container>

<main id="#main">
  <div class="container" style="min-height: 15rem">

    <div class="divider"></div>

    <section class="sec-1-2-1">
      <div>
        <app-lottie
          class="mask-top-bottom"
          lottieUrl="img/mod/anims/itemTopDown"
          [replaceImgs]="this.lottieImgs"
        />
      </div>
      <div class="center-vertical">
        <h1
          class="center"
          translation="pcxn.subsite.mod.section.current-prices.heading"
        >
        </h1>
        <p
          class="center"
          translation="pcxn.subsite.mod.section.current-prices.text-1"
        >
        </p>
        <p class="center big">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.current-prices.statement-before-strong')}}
          <strong translation="pcxn.subsite.mod.section.current-prices.statement-strong">
          </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.current-prices.statement-after-strong')}}
        </p>
      </div>
      <div>
        <app-lottie class="mask-top-bottom" lottieUrl="img/mod/anims/itemTopDown"/>
      </div>
    </section>

    <section class="sec-2-1">
      <div class="center-vertical">
        <h1
          class="center"
          translation="pcxn.subsite.mod.section.ingame-prices.heading"
        >
        </h1>
        <p
          class="center"
          translation="pcxn.subsite.mod.section.ingame-prices.text-1"
        >
        </p>
        <p class="center big">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.ingame-prices.statement-before-strong')}}
          <strong translation="pcxn.subsite.mod.section.ingame-prices.statement-strong">
          </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.ingame-prices.statement-after-strong')}}
        </p>
      </div>

      <div #ahanim class="appear-rotate-left">
        <app-lottie lottieUrl="img/mod/anims/ah"/>
      </div>
    </section>

    <section class="sec-1-2">
      <div #tabanim class="appear-rotate-right">
        <app-lottie lottieUrl="img/mod/anims/tab"/>
      </div>

      <div class="center-vertical">
        <h1
          class="center"
          translation="pcxn.subsite.mod.section.help.heading"
        >
        </h1>
        <p
          class="center"
          translation="pcxn.subsite.mod.section.help.text-1"
        >
        </p>
        <p
          class="center big"
          translation="pcxn.subsite.mod.section.help.statement"
        >
        </p>
      </div>
    </section>

    <section class="sec-1-2-1">
      <div class="center-vertical">
        <img class="small-icon" src="assets/img/icons/citybuild.png" alt="">
      </div>
      <div class="center-vertical">
        <h1
          class="center"
          translation="pcxn.subsite.mod.section.linking.heading"
        >
        </h1>
        <p
          class="center"
          translation="pcxn.subsite.mod.section.linking.text-1"
        >
        </p>
        <p class="center big">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.linking.statement-before-strong')}}
          <strong translation="pcxn.subsite.mod.section.linking.statement-strong">
          </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.linking.statement-after-strong')}}
        </p>
      </div>
      <div class="center-vertical">
        <img class="small-icon" src="assets/img/icons/skyblock.png" alt="">
      </div>
    </section>

    <div class="divider" id="download-section"></div>

    <section class="sec-1-2-1">
      <div>
      </div>

      <div class="center-vertical">
        <h1
          class="center"
          translation="pcxn.subsite.mod.section.download.heading"
        >
        </h1>
        <p class="center big" style="margin-bottom: 0">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.download.statement-before-strong')}}
          <strong translation="pcxn.subsite.mod.section.download.statement-strong">
          </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.download.statement-after-strong')}}
        </p>

        <span class="stats-line roundEdge" #onlinePlayers>
          <button
            *ngIf="this.getTotalUser()"
            class="pcxn_btn active noShine capitalize disabled"
          ><span class="big">{{this.getTotalUser()}}</span><span class="small"> Total User</span></button>
          <button
            *ngIf="this.getActivePlayers()"
            class="pcxn_btn active noShine capitalize disabled"
          ><span class="big">{{this.getActivePlayers()}}</span><span class="small"> Coins</span></button>
          <button
            *ngIf="this.getOnlinePlayers()"
            class="pcxn_btn active noShine capitalize disabled"
          ><span class="big">{{this.getOnlinePlayers()}}</span><span class="small"> Player Online</span></button>
        </span>

        <div class="card-container">
          <div>
            <app-card
              title="{{this.translation.getTranslation('pcxn.subsite.mod.section.download.card.only-mod.title')}}"
              btn-text="{{this.translation.getTranslation('pcxn.subsite.mod.section.download.card.only-mod.btn-text')}}"
              [on-Btn-Click]="this.downloadModOnly.bind(this)"
              [features]="this.onlyModFeautures"
              description="{{this.translation.getTranslation('pcxn.subsite.mod.section.download.card.only-mod.description')}}"
              fa-icon="fa-file-o"
            />
            <!--
            <p
              class="small"
              style="cursor: pointer; text-align: center; padding-top: 0.25rem"
              (click)="downloadModOnly1_20_4()"
            >Download 1.20.4 Version</p>
            -->
          </div>
          <div>
          <app-card
            title="{{this.translation.getTranslation('pcxn.subsite.mod.section.download.card.fabric-pack.title')}}"
            btn-text="{{this.translation.getTranslation('pcxn.subsite.mod.section.download.card.fabric-pack.btn-text')}}"
            [on-Btn-Click]="this.downloadFabric.bind(this)"
            [features]="this.fabricFeautures"
            description="{{this.translation.getTranslation('pcxn.subsite.mod.section.download.card.fabric-pack.description')}}"
            fa-icon="fa-file-archive-o"
          />
          </div>
        </div>
        <p class="small">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.download.link-to-install')}}
          <strong
            style="cursor: pointer"
            (click)="this.redirect.jumpToElement('install-section', true, 80)"
            translation="pcxn.subsite.mod.section.download.link-to-install-click"
          >
          </strong>
        </p>
      </div>

      <div>
      </div>
    </section>

    <section class="sec-1-2-1" id="install-section">
      <div>
      </div>

      <div class="center-vertical" style="margin-bottom: 10rem">
        <h1
          class="center"
          translation="pcxn.subsite.mod.section.install.heading"
        >
        </h1>
        <p class="center big">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.statement-before-strong')}}
          <strong translation="pcxn.subsite.mod.section.install.statement-strong">
          </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.statement-after-strong')}}
        </p>
        <br>
        <p class="center big underline">
          <strong>1. </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.step-1.heading')}}
        </p>
        <p class="center">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.step-1.text-before-link')}}
          <a
            href="https://fabricmc.net/use/installer/"
            target="_blank"
            translation="pcxn.subsite.mod.section.install.step-1.link"
          >
          </a>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.step-1.text-after-link')}}
        </p>
        <p class="center big underline">
          <strong>2. </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.step-2.heading')}}
        </p>
        <p class="center">
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.step-2.text-before-link')}}
          <a
            href="https://www.curseforge.com/minecraft/mc-mods/fabric-api/files/all"
            target="_blank"
            translation="pcxn.subsite.mod.section.install.step-2.link"
          >
          </a>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.step-2.text-after-link')}}
        </p>
        <p class="center big underline">
          <strong>3. </strong>
          {{this.translation.getTranslation('pcxn.subsite.mod.section.install.step-3.heading')}}
        </p>
        <p
          class="center"
          translation="pcxn.subsite.mod.section.install.step-3.text"
        >
        </p>

      </div>

      <div>
      </div>
    </section>

  </div>
</main>
