<hero-parallax-container [parallax]="parallax">
  <div class="container">
    <nav class="roundEdge">

      <button
        [style]="(isSmallScreen | async) === true ? 'display: unset;' : 'display: none;'"
        class="btn roundEdge"
        translation="pcxn.submenu.categories.title"
        (click)="openCategory()">
      </button>

      <button *ngFor="let category of this.categories; index as i"
              class="btn roundEdge"
              [style]="(isSmallScreen | async) === false && category.inNav === true ? '' : 'display: none;'"
              [class.active]="this.isActive(category)"
              [id]="'button-' + i"
              (mouseenter)="onCategoryHover[0](category)"
              (mouseleave)="onCategoryHover[1](category)"
              (click)="this.onCategoryClick(category)">
        {{this.modeService.getCategoryName(category)}}
      </button>
    </nav>
  </div>
</hero-parallax-container>
