<hero-parallax-container [parallax]="parallax">
  <div class="container">
    <nav class="roundEdge">
      <button *ngFor="let category of ModeService.CATEGORIES; index as i"
              class="btn roundEdge"
              [style]="category.inNav === true ? '' : 'display: none;'"
              [class.active]="this.modeService.isCategoryActive(category)"
              [id]="'button-' + i"
              (click)="this.modeService.redirectToCategory(category)">
        {{this.modeService.getCategoryName(category)}}
      </button>
    </nav>
  </div>
</hero-parallax-container>
