@import "../../../../utils";

hero-category-nav {

  @include mobile-first-parent((
    $media-md: (
      bottom: max(calc(50vh - 2rem), 22rem)
    )
  ));

  position: absolute;
  bottom: 58lvh;
  left: 50%;
  transform: translateX(-50%);
}
