<div class="container mt-4">
  <h5 class="mb-3 text-decoration-underline">Verfügbare Preise</h5>
  <ng-container *ngFor="let mode of modes">
    <div class="card mb-3" *ngIf="getItem(mode) as item">
      <div class="card-body d-flex align-items-center justify-content-between gap-3">
        <div class="d-flex justify-content-start align-items-center w-100 gap-3">
          <button class="btn" style="width: 5rem; pointer-events: all; opacity: 0.65;"
                  [ngClass]="{'btn-success': !isInfluenced(item), 'btn-warning': isInfluenced(item), 'btn-danger': !hasPrice(mode)}"
                  placement="top" [ngbTooltip]="'Realer Preis fließt zu ' + this.getRetentionPercentage(item) +  ' ein.'" container="body">
            {{this.getRetentionPercentage(item)}}
          </button>
          <span class="mb-0 card-text">
            <strong>Mode:</strong> {{item.modeKey}}
          </span>
          <span class="mb-0 card-text">
            <strong>Min Price:</strong> {{hasPrice(mode) ? item.minPrice : 'No Price found yet'}}
            <p *ngIf="this.getFlexingData(mode)"> {{this.getFlexingData(mode).count}}</p>
          </span>
          <span class="mb-0 card-text me-auto">
            <strong>Max Price:</strong> {{hasPrice(mode) ? item.maxPrice : 'No Price found yet'}}
          </span>
          <span *ngIf="isInfluenced(item)" class="mb-0 card-text me-auto">
            <strong>FadeOut in:</strong> {{this.getRetentionFadeOut(item)}}
          </span>
          <div class="">
            <button *ngIf="hasLoadedData() && isInfluenced(item)" type="button" class="btn btn-danger me-2" placement="top" ngbTooltip="Preisänderung löschen" (click)="deletePriceRetention(item)">
              <i class="fa fa-trash"></i>
            </button>
            <button *ngIf="hasLoadedData()" type="button" class="btn btn-success" (click)="this.editPriceRetention(item)">
              <i class="fa fa-money"></i> {{this.hasPrice(mode) ? 'Preisänderung Einstellen' : 'Preis einrichten'}}
            </button>
            <button *ngIf="this.canCalculatePrice() && !this.hasPrice(mode)" type="button" class="btn btn-warning ms-2" (click)="this.editPriceRetention(item)">
              <i class="fa fa-calculator"></i> Preis jetzt berechnen
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="mt-2 ms-2">
    <span class="d-block"><span class="btn btn-success disabled me-2"></span> Kein Einfluss durch Preisänderung (100% errechneter Preis)</span>
    <span class="d-block"><span class="btn btn-warning disabled me-2"></span> Preis unter Einfluss von Preisänderung (...% des realen Preises fließen ein)</span>
    <span class="d-block"><span class="btn btn-danger disabled me-2"></span> Es wurde noch kein Automatischer Preis berechnet, weil zu wenig gesammelt wurden</span>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Edit Mode</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (submit)="saveRetention()">
      <div class="mb-3">
        <label class="form-label">Min Price</label>
        <input type="number" class="form-control" [(ngModel)]="minPrice" name="minPrice" placeholder="Enter min price">
      </div>
      <div class="mb-3">
        <label class="form-label">Max Price</label>
        <input type="number" class="form-control" [(ngModel)]="maxPrice" name="maxPrice" placeholder="Enter max price">
      </div>
      <div class="mb-3">
        <label class="form-label">Fade Out in Tagen (-1 für dauerhaft) </label>
        <input type="number" class="form-control" [(ngModel)]="fadeOut" name="fadeOut" placeholder="Enter fade out value">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveRetention()">
      <i class="fa fa-check-circle"></i> Save changes
    </button>
  </div>
</ng-template>
