<hero-container>

  <hero-default-bg/>

  <hero-heading
    *ngIf="this.modeKey.isPresent()"
    [img]="'assets/img/icons/' + this.modeKey.get() + '.png'"
    [parallax]="HeadingComponent.customParallax"
    [wobble]="true">
    <h2 translation="pcxn.subsite.mode.hero.unofficial"></h2>
    <h1 class="textGradient">
      {{getTitle()}}
    </h1>
    <h2 translation="pcxn.subsite.mode.hero.pricelist"></h2>
  </hero-heading>


  <hero-jump-button [parallax]="JumpButtonComponent.customParallax"/>
  <hero-category-nav
    [parallax]="CategoryNavComponent.customParallax"
    [categories]="this.categories.orElse([])"
    [onClick]="this.onCategoryClick"
    [isActive]="this.isActive"/>

</hero-container>

<main id="#main">
  <div class="container">
    <section-item-table [items]="this.items" #table/>
  </div>
</main>

