<hero-container>

  <hero-default-bg/>

  <hero-heading
    *ngIf="this.modeKey.isPresent()"
    [img]="'assets/img/icons/' + this.modeKey.get() + '.png'"
    [parallax]="headingParallax"
    [wobble]="true">
    <h2 translation="pcxn.subsite.mode.hero.unofficial"></h2>
    <h1 class="textGradient"
        [translation]="this.titleKey">
    </h1>
    <h2 translation="pcxn.subsite.mode.hero.pricelist"></h2>
  </hero-heading>


  <hero-jump-button [parallax]="jumpButtonParallax"/>
  <hero-category-nav
    [parallax]="navParallax"
    [categories]="this.categories.orElse([])"/>

</hero-container>

<main id="#main">
  <div class="container">
    <section-item-table [items]="this.items" #table/>
  </div>
</main>

