:host {
  position: absolute;
  display: flex;
}

hero-parallax-container {
  position: relative;
}

button {
  height: 4rem;
  width: 4rem;
}

div {
  position: relative;
  padding-top: 0.3rem;
  width: 90%;
  height: 90%;
  //top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  animation: infinite alternate buttonAnim 1.5s ease-in-out;

  transition: animation 2s ease-in-out, top 2s ease-in-out;

  &:hover {
    transform: translateX(-50%);
    animation: none;
  }


  &.black {
    filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(0%) hue-rotate(282deg) brightness(100%) contrast(106%);
  }

  @keyframes buttonAnim {
    0% {
      translate: 0 50%;
    }
    100% {
      translate: 0 70%;
    }
  }
}
