@import "../../../../utils";

hero-jump-button {

  @include mobile-first-parent((
      $media-md: (
        bottom: max(calc(50vh - 9rem), 17rem)
      )
    ));

  position: absolute;
  bottom: 47lvh;
  left: 50%;
  transform: translateX(-50%);
}
