@import "variables";

// styles für das gesamte Projekt
:root {
  --dark-mode: true;
}

@font-face {
  font-family: "Riffic Free Medium";
  src: url(/assets/fonts/Riffic.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  //@include themeProperty(background-color, white, black);
}

img,
picture,
video,
svg,
canvas{
  display: block;

  max-width: 100%;

  user-select: none;
  pointer-events: none;
}
