@import "utils";

// styles für das gesamte Projekt
:root {
  --dark-mode: true;
}

@font-face {
  font-family: "Riffic Free Medium";
  src: url(/assets/fonts/Riffic.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}


body {
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(45deg, var(--clr-tertiary200-light),  var(--clr-tertiary300-light), var(--clr-tertiary200-light), var(--clr-tertiary400-light));
  background-size: 100vw 150vh;
  background-repeat: no-repeat;
  background-color: themeProperty(clr-tertiary300);
  //background-size: 400% 400%;
  //animation: Gradient 15s ease infinite;
  min-height: 100vh;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, var(--clr-tertiary200-dark),  var(--clr-tertiary300-dark), var(--clr-tertiary200-dark), var(--clr-tertiary400-dark));;
    background-repeat: no-repeat;
    background-color: themeProperty(clr-tertiary300);
    background-size: 100vw 150vh;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

#main {
  background-color: #0a0213;
}

body.dark-mode::before {
  opacity: 1;
}

body.light-mode::before {
  opacity: 0;
}

@keyframes Gradient {
  0% {background-position: 0 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0 50%}
}


img,
picture,
video,
svg
{
  display: block;

  max-width: 100%;

  user-select: none;
  pointer-events: none;
}

h1,
h2,
h3,
p {
  user-select: none;
  color: themeProperty(clr-text);
  transition: color 0.5s ease-in-out;
}

h1,
h2,
h3,
button{
  font-family: "Riffic Free Medium", sans-serif;
  user-select: none;
}

h1 {
  font-size: $size-4xl;

  @include mobile-first-parent((
    $media-sm: (
      font-size: $size-5xl
    )
  ));
}

h2 {
  font-size: $size-2xl;

  @include mobile-first-parent((
    $media-sm: (
      font-size: $size-3xl
    )
  ));
}

h3 {
  font-size: $size-xl;

  @include mobile-first-parent((
    $media-sm: (
      font-size: $size-2xl
    )
  ));
}

h4 {
  font-size: $size-md;

  @include mobile-first-parent((
    $media-sm: (
      font-size: $size-xl
    )
  ));
}

p {
  font-size: $size-sm;

  @include mobile-first-parent((
    $media-sm: (
      font-size: $size-md
    )
  ));
}

p {
  font-family: "Sunflower", sans-serif;
}

.mirror {
  transform: scaleX(-1);
}

.loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -6vh;
  left: 0;
  background-color: var(--clr-primary100);
  z-index: 9999;

  &::before {
    content: "";
    position: fixed;
    background-color: var(--clr-secondary200);
    top: -3vh;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: "";
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.hide, &.hide::after, &.hide::before {
    top: -110vh;
  }

  &.hideOc, &.hideOc::after, &.hideOc::before {
    transition: opacity 0.5s ease-in-out !important;
    background-color: black;
    opacity: 0;
  }

  &.transition {
    transition: top 1.2s ease-in !important;

    &::before {
      transition: top 1s ease-in !important;
    }

    &::after {
      transition: top 0.8s ease-in !important;
    }

  }

}

.no-transition *, .no-transition::before, .no-transition *::before {
  transition: none !important;
}

.button {
  display: inline-block;

  border-radius: 0.3rem;

  pointer-events: all;
  cursor: pointer;

  color: themeProperty(clr-text);

  transition: scale 0.1s ease-in-out;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }

  &.active {
    scale: 1.1;
    padding: 0.2rem 0.4rem;
    color: themeProperty(clr-secondary100);
    background-color: var(--clr-lowOpacity-dark);
    filter: drop-shadow(0 0 0.5rem var(--clr-secondary200));
  }

}

p {
  &.button.active {
    margin-left: -0.3rem;
  }
}

.divider {
  height: 3px;
  border-radius: 10rem;
  background-color: white;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  opacity: 0.7;

  &.vertical {
    height: 90%;
    align-self: center;
    width: 3px;
    margin: 0 1rem;
  }

}

.roundEdge{
  border-radius: 2rem;
}

.pcxn_btn, input[type="submit"]{
  color: themeProperty(btn-color);
  letter-spacing: 2px;

  background-color: themeProperty(btn-background400);

  border: none;

  transition: 0.3s transform,
  0.3s text-shadow,
  0.3s color,
  0.3s background,
  0.3s box-shadow;

  &:hover {
    color: themeProperty(clr-text);
    text-shadow: themeProperty(btn-background400) 0 0 10px,
    themeProperty(btn-background400) 0 5px 0,
    themeProperty(btn-background200) 0 0 10px;
    background: themeProperty(btn-background500);
  }

  &:active {
    transform: scale(1.05);
  }

  &.active, &.active:hover, &.active:active {
    color: themeProperty(clr-text);

    background: var(--clr-secondary100);
    text-shadow: rgba(0,0,0,0.2) 0 0 10px,
    rgba(42, 42, 42, 0.2) 0 5px 0,
    rgba(255,255,255, 0.6) 0 0 10px,
    rgba(33, 33, 33, 0.2) 0 0 10px;
    box-shadow: var(--clr-text-reversed) 0 0 10px 3px;

    &.noShine {
      box-shadow: none;
    }
  }

  &.secondary {
    box-shadow: var(--clr-secondary100) -2px -2px 0 2px,
    var(--clr-secondary200) 0 0 0 4px,
    themeProperty(btn-background300) 0 0 2px 7px;

    &:hover {
      box-shadow: var(--clr-secondary100) -2px -2px 0 2px,
      var(--clr-secondary200) 0 0 0 6px,
      themeProperty(btn-background300) 0 0 2px 7px,
      themeProperty(btn-background200) 0 0 10px 10px;
    }
  }

  &.ternary {
    background-color: transparent;

    &:hover {
      background-color: themeProperty(btn-background400);
    }
  }

  &.padding {
    padding: 0.5rem 1rem;
  }

}

.search__input {
  width: calc(100% - 2 * 24px - 2 * 2px);
  padding: 12px 24px;

  background-color: transparent;
  font-size: 14px;
  line-height: 18px;

  color: themeProperty(clr-text);

  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  &::placeholder {
    color: themeProperty(clr-lowOpacity-reversed);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &:hover,
  &:focus {
    padding: 12px 0;
    padding-right: 2rem;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    background-position: 100% center;
  }
}

a {
  text-decoration: none;
}

.center-vertical {
  display: flex;
  justify-content: center
}

.small-icon {
  width: 4rem;
  height: 4rem;
  animation: infinite 3s logo_anims alternate ease-in-out;
  filter: drop-shadow(0 0 0.5rem rgba(0,0,0, 0.5));
}

@keyframes logo_anims {
  from{
    transform: translateY(-0.5rem);
  }
  to{
    transform: translateY(0.5rem);
  }
}

.capitalize {
  text-transform: uppercase;
}

@keyframes wobble {
  0% {
    top: -1rem;
  }
  100% {
    top: 1rem;
  }
}

main {
  position: relative;
  z-index: 0;
  margin-top: 5rem;
  background-color: themeProperty(clr-tertiary300);
}
