/* xs */
/* @media (min-width: 475px) {  } */
/* sm */
/* @media (min-width: 640px) {  } */
/* md */
/* @media (min-width: 768px) {  } */
/* lg */
/* @media (min-width: 1024px) {  } */
/* xl */
/* @media (min-width: 1280px) {  } */
/* 2xl */
/* @media (min-width: 1536px) {  } */


// Farben Variablen
:root, html {
  --clr-primary100: #6d0842;
  --clr-primary200: #2e0537;

  --clr-secondary100: #daa424;
  --clr-secondary200: #ff9105;

  --clr-tertiary100-dark: #324354;
  --clr-tertiary200-dark: #23164c;
  --clr-tertiary300-dark: #201036;
  --clr-tertiary400-dark: #02050e;
  --clr-tertiary500-dark: #0a0213;

  --clr-tertiary100-light: #D5E7F2;
  --clr-tertiary200-light: #A2DCF2;
  --clr-tertiary300-light: #94CEF2;
  --clr-tertiary400-light: #5FAAD9;
  --clr-tertiary500-light: #559BD9;

  --clr-tertiary100: ;
  --clr-tertiary200: ;
  --clr-tertiary300: ;
  --clr-tertiary400: ;
  --clr-tertiary500: ;


  --clr-lowOpacity-dark: rgba(0, 0, 0, 0.5);
  --clr-lowOpacity-light: rgba(150, 163, 171, 0.25); // rgba(

  --clr-text-dark: black;
  --clr-text-light: white;
}

// Media variables (min-width)
$media-xs: 475px;
$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;
$media-xxl: 1536px;

//Sizes
$size-xxs: 0.5rem;
$size-xs: 0.75rem;
$size-sm: 0.875rem;
$size-md: 1rem;
$size-lg: 1.125rem;
$size-xl: 1.25rem;
$size-2xl: 1.5rem;
$size-3xl: 1.875rem;
$size-4xl: 2.25rem;
$size-5xl: 3rem;
$size-6xl: 3.75rem;
$size-7xl: 4.5rem;
$size-8xl: 6rem;
$size-9xl: 8rem;
$size-10xl: 10rem;

// DarkMode - LightMode
.dark-mode {
  --clr-tertiary100: var(--clr-tertiary100-dark);
  --clr-tertiary200: var(--clr-tertiary200-dark);
  --clr-tertiary300: var(--clr-tertiary300-dark);
  --clr-tertiary400: var(--clr-tertiary400-dark);
  --clr-tertiary500: var(--clr-tertiary500-dark);

  --clr-lowOpacity: var(--clr-lowOpacity-dark);
  --clr-lowOpacity-reversed: var(--clr-lowOpacity-light);

  --clr-text: var(--clr-text-light);
  --clr-text-reversed: var(--clr-text-dark);
}

.light-mode {
  --clr-tertiary100: var(--clr-tertiary100-light);
  --clr-tertiary200: var(--clr-tertiary200-light);
  --clr-tertiary300: var(--clr-tertiary300-light);
  --clr-tertiary400: var(--clr-tertiary400-light);
  --clr-tertiary500: var(--clr-tertiary500-light);

  --clr-lowOpacity: var(--clr-lowOpacity-light);
  --clr-lowOpacity-reversed: var(--clr-lowOpacity-dark);

  --clr-text: var(--clr-text-dark);
  --clr-text-reversed: var(--clr-text-dark);
}



// Mixins
@mixin themeProperty($property, $light, $dark, $transition: true) {
  @if $transition {
    transition: $property 0.5s ease-in-out;
  }
  .dark-mode & {
    #{$property}: $dark;
  }
  .light-mode & {
    #{$property}: $light;
  }
}




// Functions



