/* xs */
/* @media (min-width: 475px) {  } */
/* sm */
/* @media (min-width: 640px) {  } */
/* md */
/* @media (min-width: 768px) {  } */
/* lg */
/* @media (min-width: 1024px) {  } */
/* xl */
/* @media (min-width: 1280px) {  } */
/* 2xl */
/* @media (min-width: 1536px) {  } */


// Farben Variablen
:root {
  --color-primary-light: #d20000;
  --color-primary-dark: #670000;
}

// Media variables (min-width)
$media-xs: 475px;
$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;
$media-xxl: 1536px;

//Sizes
$size-xxs: 0.5rem;
$size-xs: 0.75rem;
$size-sm: 0.875rem;
$size-md: 1rem;
$size-lg: 1.125rem;
$size-xl: 1.25rem;
$size-2xl: 1.5rem;
$size-3xl: 1.875rem;
$size-4xl: 2.25rem;
$size-5xl: 3rem;
$size-6xl: 3.75rem;
$size-7xl: 4.5rem;
$size-8xl: 6rem;
$size-9xl: 8rem;
$size-10xl: 10rem;

// DarkMode - LightMode
.dark-mode {
  --color-primary: var(--color-primary-dark);
  --color-background: black;
  --color-text: white;
}

.light-mode {
  --color-primary: var(--color-primary-light);
  --color-background: white;
  --color-text: black;
}



// Mixins
@mixin themeProperty($property, $light, $dark, $transition: true) {
  @if $transition {
    transition: $property 0.5s ease-in-out;
  }
  .dark-mode & {
    #{$property}: $dark;
  }
  .light-mode & {
    #{$property}: $light;
  }
}




// Functions
@function themeProperty($property) {
  @return var(--#{$property});
}


