<hero-container>

  <hero-default-bg></hero-default-bg>

  <div class="icon cb" *ngIf="!this.device.isMobile()">
    <hero-image
      [parallax]="iconParallax"
      [scale]="this.cbHover"
      class="mode__icons"
      [ngClass]="{'show': this.cbHover}"
      [show]="true"
      [glow]="this.cbHover"
      (mouseenter)="this.onMouseEnterCb()"
      (mouseleave)="this.onMouseLeaveCb()"
      (click)="this.redirect.redirect('citybuild')"
      [shadow]="!this.cbHover"
      [fullWidth]="false"
      [src]="'assets/img/icons/citybuild.png'"
    />
  </div>

  <div class="icon sk" *ngIf="!this.device.isMobile()">
    <hero-image
      [parallax]="iconParallax"
      [scale]="this.skHover"
      class="mode__icons"
      [ngClass]="{'show': this.skHover}"
      [show]="true"
      [glow]="this.skHover"
      (mouseenter)="this.onMouseEnterSk()"
      (mouseleave)="this.onMouseLeaveSk()"
      (click)="this.redirect.redirect('skyblock')"
      [shadow]="!this.skHover"
      [fullWidth]="true"
      [src]="'assets/img/icons/skyblock.png'"
    />
  </div>

  <hero-heading
    [wobble]="true"
    [parallax]="HeadingComponent.customParallax">
    <div style="display: flex; justify-content: center; flex-direction: column">
      <h2 translation="pcxn.subsite.mode.hero.unofficial" class="center"></h2>
      <h1 class="textGradient">CYTOOXIEN
      </h1>
      <h2 translation="pcxn.subsite.mode.hero.pricelist" class="center"></h2>
    </div>
  </hero-heading>

  <hero-jump-button [parallax]="JumpButtonComponent.customParallax"/>
  <hero-category-nav
    [parallax]="CategoryNavComponent.customParallax"
    [categories]="this.HOME_CATEGORIES"
    [onClick]="this.onCategoryClick"
    [onHover]="[this.onMouseEnter.bind(this), this.onMouseLeave.bind(this)]"/>

</hero-container>

<main id="#main">
  <div class="container" style="min-height: 15rem">

    <div class="divider"></div>

    <section class="sec-1-2-1">
      <div class="center-vertical">
        <img class="small-icon" src="assets/img/icons/citybuild.png" alt="">
      </div>
      <div class="center-vertical">
        <h1
          class="center"
        >
          Übersichtlichkeit
        </h1>
        <p
          class="center"
        >
          Du willst alle Preise von Skyblock (und Citybuild) auf einem Blick haben? Dann bist du hier genau richtig.
          Auf unserer Website findest du alle aktuellen Preise sowie eine detaillierte Übersicht über Preisverläufe.
        </p>
        <p class="center big">
          Somit ist sichtbar, wann der angezeigte Preis aufgefasst wurde.
        </p>
      </div>
      <div class="center-vertical">
        <img class="small-icon" src="assets/img/icons/skyblock.png" alt="">
      </div>
    </section>

    <section class="sec-2-1">
      <div class="center-vertical">
        <h1
          class="center"
        >
          Einfache Bedienung
        </h1>
        <p
          class="center"
        >
          Die simple Navigation durch die Suchleiste und Kategorien ermöglicht es dir, in Sekunden die richtigen Preise für deine Items zu ermitteln.
        </p>
        <p
          class="center big"
        >
          Probier es einfach mal aus!
        </p>
      </div>
      <div>

      </div>
    </section>

    <section class="sec-1-2-1">
      <div>
        <app-lottie class="mask-top-bottom" lottieUrl="img/mod/anims/itemTopDown" />
      </div>
      <div class="center-vertical">
        <h1
          class="center"
        >
          Automatierte Abläufe
        </h1>
        <p
          class="center"
        >
          Durch automatische Berechnungen und genaue Analysen der Transaktionen stellen wir aktuelle Preise bereit, welche nicht mehr von Hand eingetragen werden müssen. <br>
          So könnt ihr auch ganz einfach eure gewünschte Itemmenge berechnen lassen.
        </p>
        <p class="center big">
          Hilf uns immer aktuelle Preise bieten zu können mit der PreisCxn Mod!
        </p>
      </div>
      <div>
        <app-lottie class="mask-top-bottom" lottieUrl="img/mod/anims/itemTopDown" />
      </div>
    </section>

    <section class="sec-1-2-1" style="margin-top: 15rem">
      <div>

      </div>
      <div class="center-vertical" style="position: relative">
        <app-lottie class="thanks-mask" lottieUrl="img/home/anims/thanks" style="position: absolute; z-index: -1; top: -25rem; height: 50rem; width: 100vw"></app-lottie>
        <h1
          class="center"
        >
          Besonderer Dank
        </h1>
        <p
          class="center"
        >
          Vielen Dank an TeddyBear_2004 für die Unterstützung bei der Entwicklung unseres Systems.
          Ein besonderer Dank geht auch an _Niklaaas_ und AlinaTmr für ihre Hilfe als Contents.
          Zudem möchten wir VZ_Xenox und Just0n für das Testen der Mod und die Einrichtung von Items danken. <br>
          Aber am wichtigsten ...
        </p>
        <p class="center big">
          Danke an alle, die unsere Mod benutzen und uns somit unterstützen, die aktuellsten Preise zu haben!
        </p>
      </div>
      <div>

      </div>
    </section>

    <section class="sec-1-2">
      <div #windowAnim class="appear-rotate-right">
        <app-lottie lottieUrl="img/home/anims/windows"/>
      </div>
      <div class="center-vertical">
        <h1
          class="center"
        >
          Jetzt seid Ihr gefragt
        </h1>
        <p
          class="center"
        >
          Verkäufer und Ankäufer von Items können sich ganz einfach unter den Items eintragen, um anderen zu zeigen, was sie in ihrem Shop anbieten.
          Des Weiteren zählen wir auch auf eure Hilfe, fehlerhafte Preise zu melden.
        </p>
        <p
          class="center big"
        >
          Nutze auch unsere Mod und unterstütze unser Projekt!
        </p>
      </div>
    </section>

    <div class="divider"></div>

  </div>
</main>
