@import '../../utils';
:host {
  position: fixed;
  top: 50%;
  left: 50%;

  height: fit-content;

  z-index: 9999999;

  transform: translate(-50%, -50%);
}

.windowMenu {
  box-sizing: border-box;
  position: relative;
  min-width: 250px;
  max-width: 99vw;
  width: 99vw;
  @include mobile-first-parent((
    $media-sm: (
      max-width: 90vw,
      width: unset
    )
  ));
  max-height: 90vh;
  background: themeProperty(clr-lowOpacity100);
  border: 3px solid rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 1rem;

  opacity: 0;

  transform: scale(0);
  transition: all 0.2s ease;

  backdrop-filter: blur(5px);

  @include mobile-first-parent((
    $media-xs: (
      min-width: 400px
    ),
    $media-sm: (
      min-width: 600px
    )
  ));

  .header {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;

    .item {
      position: relative;
      height: 100%;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      justify-content: start;

      &:last-child {
        justify-content: end;
        img {

          height: 2.5rem;
          width: 2.5rem;
          filter: invert(100%) sepia(100%) saturate(185%) hue-rotate(296deg) brightness(116%) contrast(100%);

          &.black {
            filter: invert(12%) sepia(37%) saturate(6108%) hue-rotate(308deg) brightness(84%) contrast(104%) drop-shadow(0px 0px 6px rgba(218, 164, 36, 0.4));
          }
        }

      }
    }

    .middleItem {
      flex-grow: 2;
      justify-content: center;

      h2 {
        color: themeProperty(clr-secondary200);
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    //background-color: #b83b5e;
    margin-top: 0.5rem;
    min-height: 10rem;
  }


  &.open {
    transform: scale(1);
    opacity: 1;
  }
}
