<table>
  <thead>
  <tr>
    <th><span [ngClass]="{'center-vertical' : center}">{{this.translation.getTranslation('pcxn.section.sell-buy.sell.title')}}</span></th>
    <th><span [ngClass]="{'center-vertical' : center}">{{this.translation.getTranslation('pcxn.section.sell-buy.buy.title')}}</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of range">
    <ng-container *ngIf="buyingUser[i]; else placeholder">
      <td class="pcxn_btn ternary" style="word-break: break-word;"><span [ngClass]="{'center-vertical' : center}">{{ buyingUser[i].name }}</span></td>
    </ng-container>

    <ng-container *ngIf="sellingUser[i]; else placeholder">
      <td class="pcxn_btn ternary" style="word-break: break-word"><span [ngClass]="{'center-vertical' : center}">{{ sellingUser[i].name }}</span></td>
    </ng-container>

    <ng-template #placeholder>
      <td></td>
    </ng-template>
  </tr>
  </tbody>
</table>
<p *ngIf="this.maxLength == 0">{{this.translation.getTranslation("pcxn.section.sell-buy.no-entries")}}</p>
<div *ngIf="this.showAdding()">
  <button class="pcxn_btn roundEdge secondary">{{this.translation.getTranslation("pcxn.section.sell-buy.want-sign.sign-now")}}</button>
</div>


