<div *ngFor="let animation of allAnimations; let i = index" class="d-flex align-items-center justify-content-between mb-1 bg-light p-2 rounded">
  <span class="d-block mb-0">{{animation.type}}</span>
  <div>
    <button *ngIf="hasAnimationData(i)" type="button" class="btn btn-primary me-2" (click)="editAnimation(i)">
      <i class="fa fa-edit"></i> Edit
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteAnimation(i)">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="addAnimation()">
  <i class="fa fa-plus-circle"></i> Add Animation
</button>
<button type="button" class="btn btn-primary ms-2" (click)="this.reload()">
  <i class="fa fa-rotate-right"></i> Reload
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Edit Animation</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (submit)="saveAnimation()">
      <div class="mb-3">
        <label for="animationType" class="form-label">Animation Type</label>
        <select class="form-control" id="animationType" name="animationType" [(ngModel)]="animationType" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let type of Object.keys(this.types)" [value]="type">{{type}}</option>
        </select>
      </div>
      <div class="mb-3" *ngIf="this.isCrafting()">
        <label class="form-label">Crafting Recipe</label>
        <div *ngFor="let row of craftingData; let i = index" class="d-flex">
          <input *ngFor="let item of row; let j = index" type="text" class="form-control me-2" [(ngModel)]="craftingData[i][j][1]" placeholder="Enter URL" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="mb-3" *ngIf="this.isSmelting()">
        <label class="form-label">Smelting Url</label>
        <div class="d-flex">
          <input *ngIf="smeltingData[0]" type="text" class="form-control me-2" [(ngModel)]="smeltingData[0][1]" placeholder="Enter URL" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveAnimation()">
      <i class="fa fa-check-circle"></i> Save changes
    </button>
  </div>
</ng-template>

<section-custom-anim [animType]="AnimationDataBuilder.getFromItemAnimationData(this.imgUrl, this.allAnimations)[0]" [useData]="AnimationDataBuilder.getBuilderFromItemAnimationData(this.imgUrl, this.allAnimations)" #animation></section-custom-anim>
